html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.04em;
}

button {
  background-color: #3F3244;
  color: #F2F2F2;
  font-weight: 300;
  font-size: 1.2em;
  height: 6%;
  letter-spacing: 0.04em;
  width: 33%;
}

header {
  align-items: center;
  background-color: #2F2235;
  color: #F2F2F2;
  display: flex;
  height: 6%;
  justify-content: space-between;
}

header h1 {
  margin-left: 3%;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

header h3 {
  margin-right: 3%;
}

.header-span {
  color: #34D1D1;
}

.main {
  height: 100%;
  margin: 3% 3%;
}

.accordion {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.accordion-tabs-title {
  display: flex;
}

.accordion-tabs-title hr {
  border-style: solid;
  border-width: 1px;
  color: #D1D2D3;
  margin-left: 2%;
  width: 88%;
}

.accordion-tabs {
  background-color: #F2F2F2;
  margin: 3% 3%;
  height: 63%;
}

.tab-list {
  height: 12%;
  display: flex;
}

.accordion button {
  align-self: center;
}

.active {
	font-weight: 600;
}

.tab-content {
  display: none;
  height: 88%;
  border: 1px solid #666666;
}

.sqaure-placeholder {
  background-color: #666666;
  height: 87%;
  margin: 2%;
  width: 188%;
}

.show {
  display: flex;
}

.a-wrapper {
  align-items: center;
  background-color: #D1D2D3;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 25%;
  border-right: 1px solid #F2F2F2;
}

.selected-div {
  background-color: #F2F2F2;
  border: 1px solid #666666;
  border-bottom: none;
  margin-left: -1px;
}

.a-wrapper a {
  text-decoration: none;
  color: #666666;
}

#first-tab {
  margin: 0;
}

.tab-text {
  margin: 4% 2% 2% 0;
}

.tab-text h2 {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 2.5%;
}

.tab-text hr {
  margin-bottom: 5%;
}

.tab-text p {
  line-height: 1.5em;
  margin: 4% 2.5% 0 0;
}