.accordion {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.accordion-tabs {
  background-color: #F2F2F2;
  margin: 3% 3%;
  height: 63%;
}

.tab-list {
  height: 12%;
  display: flex;
}

.accordion button {
  align-self: center;
}

.active {
	font-weight: 600;
}

.tab-content {
  display: none;
  height: 88%;
  border: 1px solid #666666;
}

.square-placeholder {
  background-color: #666666;
  height: 87%;
  margin: 2%;
  width: 30%;
}

.show {
  display: flex;
}

.a-wrapper {
  align-items: center;
  background-color: #D1D2D3;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 25%;
  border-right: 1px solid #F2F2F2;
}

.selected-div {
  background-color: #F2F2F2;
  border: 1px solid #666666;
  border-bottom: none;
  margin-left: -1px;
}

.a-wrapper a {
  text-decoration: none;
  color: #666666;
}

#first-tab {
  margin: 0;
}

.tab-text {
  margin: 4% 2% 2% 0;
  width: 60%;
}

.tab-text h2 {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 2.5%;
}

.tab-text hr {
  margin-bottom: 5%;
}

.tab-text p {
  line-height: 1.5em;
  margin: 4% 2.5% 0 0;
}