.flex-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 60px;
  width: 90%;
}

.card-image {
  background-color: #666666;
}

.short-card, .long-card {
  height: 333px;
  border: 1px solid #666666;
  margin: 10px;
}

.short-card {
  width: 31%;
}

.long-card {
  width: 63.5%;
}